.Header {
    background-color: red;
    grid-area: header;

    display: flex;
}

.Search {
    display: flex;
}

.Logo {
    height: 60px;
    width: 50px;
    background-color: blue;
    display: flex;
}
.Icon {
    &.MuiSvgIcon-root {
        height: 48px;
        width: 48px;
    }
    margin: auto;
}


.SearchBar {
    height: 60px;
    width: 50px;
    background-color: blueviolet;
}

.Carousel {
    background-color: chartreuse;
    height: 100%;
    width: 100px;
}

.Settings {
    background-color: darkgreen;
    height: 100%;
    width: 100px;
}